.applicationContainer {
  font-weight: bold;
  margin: 14px 0;
}

.applicationLabel {
  padding-right: 8px;
}

.link, .link:visited {
  color: #3cc68a;
  font-weight: bold;
}

.container {
  display: flex;
}

.timestamp {
  font-size: 90%;
  flex: 1;
}

