.item {
  padding: 14px 0;
  border-bottom: 1px solid #d8d8d8;
}
.addressType {
  background-color: #d8d8d8;
  font-size: 10px;
  font-weight: bold;
  border-radius: 3px;
  padding: 4px;
}

.address {
  font-weight: bold;
  font-size: 14px;
  line-height: 18px;
  display: block;
  margin: 4px 0 14px 0;
}

.freeLabel, .inUseLabel {
  color: #666;
  margin-bottom: 4px;
}

.freeContainer {
  border-right: 1px solid #ccc;
}

.inUseContainer {
  padding-left: 8px;
}
.balance {

}

