.body {
  background-color: #fff;
}

.address {
  flex: 1;
  text-align: left;
}

.transferFrom {
  color: #666;
  font-size: 14px;
  margin-bottom: 4px;
}

.free {
  margin-right: 4px;
}

.label {
  margin-top: 4px;
  padding: 4px 16px;
  font-size: 16px;
}
