.balance {
  font-family: "Source Code Pro";
}
.large .m {
  font-size: 26px;
  font-weight: bold;
}

.large .n {
  font-size: 21px;
  color: #ccc;
}

.normal .m {
}

.normal .n {
  color: #999;
  font-size: 80%;
  font-weight: 500;
}


