.card {
  margin: auto 8px;
}

.cardHeader {
  font-weight: bold;
}

.rightButton {
  float: right;
  border: 1px solid #3cc68a !important;
  color: #3cc68a;
  margin-top: 16px;
}

.mnemonic {
  padding: 10px;
  background-color: #f0f0f0;
  border-radius: 2px;
}

.info {
  font-size: 11px;
  line-height: 14px;
  letter-spacing: 0.2px;
  color: #666;
  margin-top: 10px;
}

