.item {
  margin: 14px 0;
}

.requestFromLabel, .metaInfoLabel {
  display: inline-block;
  width: 100px;
}

.requestFromLabel {
  font-weight: bold;
}

a.requestFromLink, a:visited.requestFromLink {
  color: #3cc68a;
  font-weight: bold;
}

.timestamp {
  font-size: 90%;
  display: block;
}



