.item {
  margin: 14px 0;
  display: flex;
  line-height: 16px;
  height: 16px;
}

.requestFromLabel, .metaInfoLabel {
  display: inline-block;
  width: 100px;
}

.requestFromLabel {
  font-weight: bold;
}

a.requestFromLink, a:visited.requestFromLink {
  color: #3cc68a;
  font-weight: bold;
}

.timestamp {
  font-size: 90%;
}

.state {
  display: flex;
  align-items: center;
  margin-left: 8px;
}

.state :first-child {
  margin-right: 4px;
}

.state.declined, .state.pending {
  color: #d50000;
}

.state.approved {
  color: #009afd;
}

.link {
  display: block;
  align-self: flex-end;
  margin-left: auto;
  color: #3cc68a;
}
